.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption h6,
.carousel-caption p {
  color: #ffffff;
  line-height: normal;
  margin: 0;
}

body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  background-image: url(../images/bg_texture.png);
}

.navbar {
  color: #555555;
}
.navbar ul {
  margin-left: 0;
}
.navbar-inner {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
  background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
  background-image: linear-gradient(to bottom, #f9f9f9, #ececec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffececec', GradientType=0);
  border: 1px solid #cecece;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar .brand {
  color: #555555;
  text-shadow: 0 1px 0 #f9f9f9;
}
.navbar-link {
  color: #555555;
}
.navbar-link:hover {
  color: #333333;
}
.navbar .divider-vertical {
  border-left: 1px solid #ececec;
  border-right: 1px solid #f9f9f9;
}
.navbar-search .search-query {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.navbar-static-top .brand,
.navbar-fixed-top .brand,
.nvabar-fixed-bottom .brand {
  margin-left: -10px;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
}
.navbar-fixed-bottom {
  bottom: 0;
}
.navbar-fixed-bottom .navbar-inner {
  -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5), 0 -5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5), 0 -5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5), 0 -5px 10px rgba(0, 0, 0, 0.2);
}
.navbar-spacer {
  min-height: 40px;
}
.navbar .nav > li > a {
  color: #555555;
  text-shadow: none;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333333;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  background-color: #dfdfdf;
}
.navbar .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #ececec, #dfdfdf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#dfdfdf));
  background-image: -webkit-linear-gradient(top, #ececec, #dfdfdf);
  background-image: -o-linear-gradient(top, #ececec, #dfdfdf);
  background-image: linear-gradient(to bottom, #ececec, #dfdfdf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffececec', endColorstr='#ffdfdfdf', GradientType=0);
  border-color: #dfdfdf #dfdfdf #b9b9b9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #dfdfdf;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #dfdfdf;
  *background-color: #d3d3d3;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #c6c6c6 \9;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #dfdfdf;
  color: #555555;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-inverse {
  color: #cccccc;
}
.navbar-inverse .navbar-inner {
  background-color: #235064;
  background-image: -moz-linear-gradient(top, #285c73, #1b3e4d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#285c73), to(#1b3e4d));
  background-image: -webkit-linear-gradient(top, #285c73, #1b3e4d);
  background-image: -o-linear-gradient(top, #285c73, #1b3e4d);
  background-image: linear-gradient(to bottom, #285c73, #1b3e4d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff285c73', endColorstr='#ff1b3e4d', GradientType=0);
  border-color: #142f3a;
}
.navbar-inverse .brand {
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > a {
  color: #cccccc;
}
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #1b3e4d;
}
.navbar-inverse .navbar-link {
  color: #cccccc;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse .divider-vertical {
  border-left-color: #1b3e4d;
  border-right-color: #285c73;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #1b3e4d;
  color: #ffffff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inverse .navbar-search .search-query {
  color: #444444;
  background-color: #cccccc;
  border-color: #222222;
}
.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #777777;
}
.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #777777;
}
.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #777777;
}
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  color: #444444;
  text-shadow: 0 1px 0 #bbbbbb;
  background-color: #f2f2f2;
}
.navbar-inverse .navbar-search .search-query:focus:-moz-placeholder,
.navbar-inverse .navbar-search .search-query.focused:-moz-placeholder {
  color: #888888;
}
.navbar-inverse .navbar-search .search-query:focus:-ms-input-placeholder,
.navbar-inverse .navbar-search .search-query.focused:-ms-input-placeholder {
  color: #888888;
}
.navbar-inverse .navbar-search .search-query:focus::-webkit-input-placeholder,
.navbar-inverse .navbar-search .search-query.focused::-webkit-input-placeholder {
  color: #888888;
}
.navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c4151;
  background-image: -moz-linear-gradient(top, #214d60, #142f3a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#214d60), to(#142f3a));
  background-image: -webkit-linear-gradient(top, #214d60, #142f3a);
  background-image: -o-linear-gradient(top, #214d60, #142f3a);
  background-image: linear-gradient(to bottom, #214d60, #142f3a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff214d60', endColorstr='#ff142f3a', GradientType=0);
  border-color: #142f3a #142f3a #010101;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #142f3a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #142f3a;
  *background-color: #0e1f27;
}
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background-color: #071014 \9;
}
