<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta charset="utf-8"/>
	<title>Bem-vindo ao Up to Med</title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="../../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
	<link href="../../../resources/css/responsive.css" rel="stylesheet" media="screen" th:href="@{/resources/css/responsive.css}"/>
	<link href="../../../resources/css/med.css" rel="stylesheet" media="screen" th:href="@{/resources/css/med.css}"/>
	<link href="../../../resources/css/main.css" rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}"/>
	<link href="../../../resources/css/css.css" rel="stylesheet" media="screen" th:href="@{/resources/css/css.css}"/>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">UP TO MED</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
						<li><a href="#">Cadastre-se</a></li>
						<li><a href="#">Iniciar Sessão</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="navbar-spacer"></div>

	<div id="featureCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="item active">
				<img th:src="@{/resources/images/home.png}" src="../../../resources/images/home.png"/>
				<div class="carousel-caption clearfix">
					<p>Encontre tudo o que você precisa para o seu consultório, laboratório ou hospital</p>
					<h1 class="pull-left">É rápido, é pratico!</h1>
				</div>
			</div>
		</div>
		<!-- Carousel nav -->
		
		<a class="carousel-control left" href="#featureCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#featureCarousel" data-slide="next">&rsaquo;</a>
	</div>


	<div class="container">	
		<section id="contactUs">
			<div class="row">
				<div class="span3">
					<h4>Parceiros</h4>
					<p>Em breve, quem sabe ...</p>
				</div>	
				<div class="span3">
					<h4>Contato</h4>
					<address>
						<strong>Up to Med</strong><br/>
						<a href="mailto:contato@uptomed.com.br">contato@uptomed.com.br</a>
					</address>
				</div>				
				<div class="span3">
					<h4>Sobre</h4>
					<p>Somos a compania que vai fazer parte do seu dia-a-dia</p>
				</div>
			</div>
		</section>
	</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="../../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
	<script src="../../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
	<script src="../../../resources/js/bootstrap-fileupload.js" th:src="@{/resources/js/bootstrap-fileupload.js}"></script>
	<script src="../../../resources/js/jquery_002.js" th:src="@{/resources/js/jquery_002.js}"></script>
	<script src="../../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>

</body></html>